# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_NOTIFY_CHANNEL_ID=YOUR_CHANNEL_ID_HERE

# API security
API_TOKEN=

# Printer
PRINTER_SERIAL=
MQTT_HOST=
MQTT_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=